header {
  margin-bottom: 30px;
  margin-top: 0px;
  height: 100px;
  width: 100%;
}

footer {
  margin-top: 40px;
  padding-bottom: 10px;
  height: 50px;
  width: 100%;
}

.fillImage {
  width: 100%;
  height: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center-text {
    text-align: center;
}

.center-content {
  position: relative;
  width: 70%;
  left: 15%;
  text-align: center;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none!important;
}

.content {
  position: relative;
  width: 70%;
  left: 15%;
}

.textSizeBig {
  font-size: xlarge;
  color: #C6BCBC;
}

.fixNavBar {
  margin-bottom: 0px;
  width: 100%;
}

.profileImage {
  max-width: 150px;
  max-height: 150px;
}

.fixedFooter {
  position: fixed;
  bottom: 0px;
  left: 300px;
  right: 0px;
}

.fixTextInput {
  display: inline;
  width: calc(100% - 120px);
  margin-right: 10px;
}

.fixButton {
  display: inline;
  min-width: 100px;
}

/* RESPONSIVE */
@media (min-width: 48em) {

}

@media (max-width: 48em) {
    body {
        zoom: 80%;
    }
}
